//- TODO - abstract these mixins elsewhere
mixin keyboardRow()
  .keyboard--row.w-100
    block

mixin keyboardKey(opts)
  button.btn.btn-outline-secondary.keyboard--key( data-keycode=opts.keycode data-click='key' data-key=opts.key class=opts.css )
    if opts.icon
      i.fa.fa-fw( class=opts.icon )
    else

      if opts.key && opts.shift
        .shift= opts.shift
        .plain= opts.key

      else
        .plain= opts.key
