mixin positionSelect(opts)
  span.fa-stack.fa-lg.position--select( class=`position_${opts.position}`, data-toggle='tooltip' title=opts.tooltip, data-placement='bottom' )
    i.fa.fa-circle-thin.fa-stack-2x
    i.fa.fa-stack-1x( class=opts.css, data-position=opts.position )

//- // // //

.key.d-flex( class=typeof special === "undefined" ? "" : "special" )
  .inner.content
    if key && shift
      .shift= shift
      = key

    else
      .plain= key

  .inner.hover
    i.fa.fa-fw.fa-lg.fa-times

.position.mt-2
  +positionSelect(active_position)
